# Proxy，如果你需要的话（比如你使用 GitHub 作为鉴权服务提供商）
# HTTP_PROXY=http://localhost:7890
# HTTPS_PROXY=http://localhost:7890


# 其他环境变量，视需求而定，可以参照客户端版本的环境变量配置，注意不要有 ACCESS_CODE
# OPENAI_API_KEY=sk-xxxx
# OPENAI_PROXY_URL=https://api.openai.com/v1
# OPENAI_MODEL_LIST=...


# ===================
# ===== 预设配置 =====
# ===================
# 如没有特殊需要不用更改
LOBE_PORT=23210
CASDOOR_PORT=28000
MINIO_PORT=29000
APP_URL=http://127.0.0.1:23210
AUTH_URL=http://127.0.0.1:23210/api/auth

# Postgres 相关，也即 DB 必须的环境变量
LOBE_DB_NAME=lobechat
POSTGRES_PASSWORD=uWNZugjBqixf8dxC

NEXTAUTH_URL=http://localhost:${LOBE_PORT}/api/auth
NEXT_AUTH_SECRET=3904039cd41ea1bdf6c93db0db96e250
NEXT_AUTH_SSO_PROVIDERS=casdoor
AUTH_CASDOOR_ISSUER=http://127.0.0.1:28000
# Casdoor secret
AUTH_CASDOOR_ID=a387a4892ee19b1a2249
AUTH_CASDOOR_SECRET=4998afdb63806714b0511a05c660d0e2

# MinIO S3 配置
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=1b60ad28

# 在下方配置 minio 中添加的桶
S3_PUBLIC_DOMAIN=http://127.0.0.1:29000
S3_ENDPOINT=http://127.0.0.1:29000
MINIO_LOBE_BUCKET=lobe

# 为 casdoor 配置
origin=http://127.0.0.1:28000